openapi: 3.0.3
info:
  title: API Яндекс.Расписаний
  description: API для получения информации о расписании транспорта
  version: 3.0.0
servers:
  - url: https://api.rasp.yandex.net
tags:
  - name: Ближайшие станции
  - name: Поиск расписания
  - name: Расписание по станции
  - name: Информация о нитке
  - name: Ближайший город
  - name: Перевозчик
  - name: Список станций
  - name: Копирайт
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
        - Ближайшие станции
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус охвата в километрах
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json или xml)
          required: false
          schema:
            type: string
        - name: station_types
          in: query
          description: Типы запрашиваемых станций (например, station, bus_station)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспортного средства (например, plane, train, bus)
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение относительно первого результата
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Ограничение на количество возвращаемых станций
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'

  /v3.0/search/:
    get:
      tags:
        - Поиск расписания
      summary: Расписание рейсов между станциями
      operationId: getSearch
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа, по умолчанию JSON
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: Язык ответа (например, ru_RU)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата в формате YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: система кодирования
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: система кодирования для ответа
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение результатов
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Лимит на количество результатов, по умолчанию 100
          required: false
          schema:
            type: integer
        - name: result_timezone
          in: query
          description: Часовой пояс для дат и времени в ответе
          required: false
          schema:
            type: string
        - name: transfers
          in: query
          description: Включить маршруты с пересадками (true/false)
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'

  /v3.0/schedule/:
    get:
      tags:
        - Расписание по станции
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: station
          in: query
          description: Код станции
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата, на которую требуется расписание (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: event
          in: query
          description: Событие для фильтрации (arrival/отправление)
          required: false
          schema:
            type: string
        - name: direction
          in: query
          description: Направление (например, на Москву)
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: Система кодирования для параметра station
          required: false
          schema:
            type: string
        - name: result_timezone
          in: query
          description: Часовой пояс для отображения времени
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'

  /v3.0/thread/:
    get:
      tags:
        - Информация о нитке
      summary: Список станций следования
      operationId: getThread
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: uid
          in: query
          description: идентификатор нитки
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: код станции отправления
          required: false
          schema:
            type: string
        - name: to
          in: query
          description: код станции прибытия
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: формат ответа
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: язык
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: дата в формате YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: коды в ответе
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadResponse'

  /v3.0/nearest_settlement/:
    get:
      tags:
        - Ближайший город
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус поиска ближайшего города (в километрах)
          required: false
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'

  /v3.0/carrier/:
    get:
      tags:
        - Перевозчик
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: code
          in: query
          description: код перевозчика
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: формат ответа
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: язык
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: система кодирования
          required: false
          schema:
            type: string
            enum: [yandex, iata, sirena, express, esr]
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'

  /v3.0/stations_list/:
    get:
      tags:
        - Список станций
      summary: Список всех доступных станций
      operationId: getStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: формат ответа
          required: false
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: query
          description: язык
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStationsResponse'
            text/html:
              schema:
                type: string

  /v3.0/copyright/:
    get:
      tags:
        - Копирайт
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json или xml)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'

components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    SearchResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'

    ScheduleResponse:
      type: object
      properties:
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItem'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ThreadResponse:
      type: object
      properties:
        start_date:
          type: string
        start_time:
          type: string
        start:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        number:
          type: string
        short_title:
          type: string
        uid:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'

    NearestSettlement:
      type: object
      properties:
        distance:
          type: number
        title:
          type: string
        lat:
          type: number
        lng:
          type: number

    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'

    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            text:
              type: string
            url:
              type: string

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        codes:
          type: object
          properties:
            express:
              type: string
            yandex:
              type: string
            esr:
              type: string

    # ОБНОВЛЕННЫЙ Segment с полной информацией о пересадках
    Segment:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure:
          type: string
        stop_time:
          type: string
        to:
          $ref: '#/components/schemas/Station'
        has_transfers:
          type: boolean
          description: Признак наличия пересадок по маршруту
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: number
        start_date:
          type: string
        # ДОБАВЛЕННЫЕ ПОЛЯ для работы с пересадками
        transfers:
          type: array
          description: Информация о пересадках
          items:
            $ref: '#/components/schemas/Transfer'
        details:
          type: array
          description: Детали сегментов (включая пересадки)
          items:
            $ref: '#/components/schemas/Segment'
        departure_platform:
          type: string
        arrival_platform:
          type: string
        departure_terminal:
          type: string
        arrival_terminal:
          type: string
        stops:
          type: string
        days:
          type: string
        except_days:
          type: string

    # НОВАЯ схема Transfer для информации о пересадках
    Transfer:
      type: object
      properties:
        type:
          type: string
          description: Тип транспортного пункта
        title:
          type: string
          description: Полное название пункта пересадки
        short_title:
          type: string
          description: Краткое название пункта пересадки
        popular_title:
          type: string
          description: Общепринятое название пункта пересадки
        code:
          type: string
          description: Код пункта пересадки в системе Яндекс Расписаний

    IntervalSegment:
      type: object
      properties:
        density:
          type: string
        time:
          type: string

    ScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        departure:
          type: string
        stop_time:
          type: string
        terminal:
          type: string

    Stop:
      type: object
      properties:
        arrival:
          type: string
        duration:
          type: integer
        departure:
          type: string
        stop_time:
          type: integer
        station:
          $ref: '#/components/schemas/Station'

    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string

    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string

    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/TicketPlace'

    TicketPlace:
      type: object
      properties:
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
        currency:
          type: string

    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer

    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string

    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string

    getStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    Country:
      type: object
      properties:
        title:
          type: string
          description: Название страны
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код страны в системе Яндекс Расписаний
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'

    Region:
      type: object
      properties:
        title:
          type: string
          description: Название региона
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код региона в системе Яндекс Расписаний
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/SettlementDetail'

    SettlementDetail:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код населенного пункта в системе Яндекс Расписаний
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
