openapi: 3.0.3
info:
  title: API Яндекс.Расписаний
  description: API для получения информации о расписании транспорта
  version: 3.0.0
servers:
  - url: https://api.rasp.yandex-net.ru
tags:
  - name: Ближайшие станции
  - name: Поиск расписания
  - name: Расписание по станции
  - name: Информация о нитке
  - name: Ближайший город
  - name: Перевозчик
  - name: Список станций
  - name: Копирайт
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
        - Ближайшие станции
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус охвата в километрах
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json или xml)
          required: false
          schema:
            type: string
        - name: station_types
          in: query
          description: Типы запрашиваемых станций (например, station, bus_station)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспортного средства (например, plane, train, bus)
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение относительно первого результата
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Ограничение на количество возвращаемых станций
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'

  /v3.0/search/:
    get:
      tags:
        - Поиск расписания
      summary: Расписание рейсов между станций
      description: >
        Поиск маршрутов между пунктами.
        Используйте параметр transfers=true для получения маршрутов с пересадками.
      operationId: getSearch
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа, по умолчанию JSON
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: Язык ответа (например, ru_RU)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата в формате YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: система кодирования
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: система кодирования для ответа
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение результатов
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Лимит на количество результатов, по умолчанию 100
          required: false
          schema:
            type: integer
        - name: result_timezone
          in: query
          description: Часовой пояс для дат и времени в ответе
          required: false
          schema:
            type: string
        - name: transfers
          in: query
          description: Включить маршруты с пересадками (true/false)
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'

  /v3.0/schedule/:
    get:
      tags:
        - Расписание по станции
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: station
          in: query
          description: Код станции
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата, на которую требуется расписание (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: event
          in: query
          description: Событие для фильтрации (arrival/отправление)
          required: false
          schema:
            type: string
        - name: direction
          in: query
          description: Направление (например, на Москву)
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: Система кодирования для параметра station
          required: false
          schema:
            type: string
        - name: result_timezone
          in: query
          description: Часовой пояс для отображения времени
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'

  /v3.0/thread/:
    get:
      tags:
        - Информация о нитке
      summary: Список станций следования
      operationId: getThread
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: uid
          in: query
          description: идентификатор нитки
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: код станции отправления
          required: false
          schema:
            type: string
        - name: to
          in: query
          description: код станции прибытия
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: формат ответа
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: язык
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: дата в формате YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: коды в ответе
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadResponse'

  /v3.0/nearest_settlement/:
    get:
      tags:
        - Ближайший город
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус поиска ближайшего города (в километрах)
          required: false
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'

  /v3.0/carrier/:
    get:
      tags:
        - Перевозчик
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: code
          in: query
          description: код перевозчика
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: формат ответа
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: язык
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: система кодирования
          required: false
          schema:
            type: string
            enum: [yandex, iata, sirena, express, esr]
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'

  /v3.0/stations_list/:
    get:
      tags:
        - Список станций
      summary: Список всех доступных станций
      operationId: getStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: формат ответа
          required: false
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: query
          description: язык
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStationsResponse'
            text/html:
              schema:
                type: string

  /v3.0/copyright/:
    get:
      tags:
        - Копирайт
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json или xml)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'

components:
  schemas:
    # ==================== ПОИСК И СЕГМЕНТЫ ====================
    SearchResponse:
      type: object
      properties:
        search:
          $ref: '#/components/schemas/SearchQuery'
        segments:
          type: array
          description: Массив сегментов маршрутов (прямых и с пересадками)
          items:
            $ref: '#/components/schemas/Segment'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Segment:
      type: object
      description: >
        Универсальный сегмент маршрута.
        Если has_transfers = false — прямой маршрут (используются поля thread, from, to).
        Если has_transfers = true — маршрут с пересадками (используется поле details).
      properties:
        has_transfers:
          type: boolean
          description: |
            true — маршрут с пересадками
            false — прямой маршрут без пересадок

        # Общие поля (присутствуют всегда)
        departure:
          type: string
          description: Дата и время отправления
        arrival:
          type: string
          description: Дата и время прибытия
        duration:
          type: number
          description: Общая продолжительность маршрута в секундах
        start_date:
          type: string
          description: Дата начала маршрута
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
          nullable: true
          
        transfers:
          type: array
          nullable: true
          description: >
            Массив пунктов пересадок.
            Используется только если has_transfers = true.
          items:
            oneOf:
              - $ref: '#/components/schemas/Location'
              - $ref: '#/components/schemas/Station'

        # Поля для прямых маршрутов (has_transfers = false)
        thread:
          $ref: '#/components/schemas/Thread'
          nullable: true
          description: Информация о нитке (для прямых маршрутов)
        from:
          $ref: '#/components/schemas/Station'
          nullable: true
          description: Станция отправления (для прямых маршрутов)
        to:
          $ref: '#/components/schemas/Station'
          nullable: true
          description: Станция прибытия (для прямых маршрутов)
        transport_types:
          type: array
          items:
            type: string
          nullable: true
          description: Типы транспорта (есть у сегментов с пересадками)
        stops:
          type: string
          nullable: true
          description: Остановки (для прямых маршрутов)
        departure_platform:
          type: string
          nullable: true
        arrival_platform:
          type: string
          nullable: true
        departure_terminal:
          type: string
          nullable: true
        arrival_terminal:
          type: string
          nullable: true
        days:
          type: string
          nullable: true
        except_days:
          type: string
          nullable: true

        # Поле для маршрутов с пересадками (has_transfers = true)
        details:
          type: array
          nullable: true
          description: >
            Детали маршрута с пересадками.
            Содержит чередующиеся JourneySegment (участки движения) и TransferStop (пересадки).
            Используется только если has_transfers = true.
          items:
            oneOf:
              - $ref: '#/components/schemas/JourneySegment'
              - $ref: '#/components/schemas/TransferStop'

    JourneySegment:
      type: object
      description: Участок движения между двумя пунктами в маршруте с пересадками
      properties:
        thread:
          $ref: '#/components/schemas/Thread'
        from:
          $ref: '#/components/schemas/Location'
        to:
          $ref: '#/components/schemas/Location'
        departure:
          type: string
        arrival:
          type: string
        duration:
          type: number
        start_date:
          type: string
        departure_platform:
          type: string
          nullable: true
        arrival_platform:
          type: string
          nullable: true
        departure_terminal:
          type: string
          nullable: true
        arrival_terminal:
          type: string
          nullable: true
        stops:
          type: string
          nullable: true

    TransferStop:
      type: object
      description: Точка пересадки между сегментами маршрута
      required:
        - is_transfer
      properties:
        is_transfer:
          type: boolean
          description: Всегда true
          enum: [true]
        duration:
          type: number
          description: Время пересадки в секундах
        transfer_point:
          $ref: '#/components/schemas/TransferPoint'
          nullable: true
          description: Пункт пересадки (город или станция)
        transfer_from:
          $ref: '#/components/schemas/Station'
          nullable: true
        transfer_to:
          $ref: '#/components/schemas/Station'
          nullable: true

    # ==================== БАЗОВЫЕ МОДЕЛИ ====================
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    SearchQuery:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Location'
        to:
          $ref: '#/components/schemas/Location'
        date:
          type: string

    TransferPoint:
      type: object
      properties:
        type:
          type: string
          enum: [settlement, station]
          description: Тип пункта пересадки
        title:
          type: string
          description: Название пункта пересадки
        short_title:
          type: string
          description: Краткое название
        popular_title:
          type: string
          description: Популярное название
        code:
          type: string
          description: Код в системе Яндекс

    Location:
      type: object
      properties:
        type:
          type: string
          enum: [settlement, station]
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string

    ScheduleResponse:
      type: object
      properties:
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItem'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ThreadResponse:
      type: object
      properties:
        start_date:
          type: string
        start_time:
          type: string
        start:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        number:
          type: string
        short_title:
          type: string
        uid:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'

    NearestSettlement:
      type: object
      properties:
        distance:
          type: number
        title:
          type: string
        lat:
          type: number
        lng:
          type: number

    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'

    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            text:
              type: string
            url:
              type: string

    # ==================== ВСПОМОГАТЕЛЬНЫЕ МОДЕЛИ ====================
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        codes:
          type: object
          properties:
            express:
              type: string
            yandex:
              type: string
            esr:
              type: string

    IntervalSegment:
      type: object
      properties:
        density:
          type: string
        time:
          type: string

    ScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        departure:
          type: string
        stop_time:
          type: string
        terminal:
          type: string

    Stop:
      type: object
      properties:
        arrival:
          type: string
        duration:
          type: integer
        departure:
          type: string
        stop_time:
          type: integer
        station:
          $ref: '#/components/schemas/Station'

    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string

    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        short_title:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
        thread_method_link:
          type: string

    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/TicketPlace'

    TicketPlace:
      type: object
      properties:
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
        currency:
          type: string

    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer

    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
          nullable: true
        logo_svg:
          type: string
          nullable: true
        email:
          type: string

    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string

    getStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'

    Country:
      type: object
      properties:
        title:
          type: string
          description: Название страны
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код страны в системе Яндекс Расписаний
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'

    Region:
      type: object
      properties:
        title:
          type: string
          description: Название региона
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код региона в системе Яндекс Расписаний
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/SettlementDetail'

    SettlementDetail:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код населенного пункта в системе Яндекс Расписаний
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
